body {
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
	text-align: center;
}

#scoreheader {
  font-size: 200%;
}

#scorecontent {
  font-size: 1300%; 
	color: blue; 
  line-height: 1em;
  border 1px solid black;
  display: inline-block;
}
#goal1, #goal2 {
  display: inline-block;
  width: 1.5em;
}
#goal1 {border-bottom: 20px solid black;}
#goal2 {border-bottom: 20px solid yellow;}

#goal1 {text-align: right; padding-right: 40px;}
#goal2 {text-align: left;  padding-left: 40px;}

#scorelastgoal {
  font-size: 130%;
  color: gray;
  margin-top: 20px;
  display: inline-block;
}

#header {
  font-size: 300%; 
	color: black; 
  margin-bottom: 10px;
}

#vacant {
  font-size: 200%;
  margin-bottom: 15px;
}

#divreset {
  margin-top: 30px;
}

#reset {
    background:url(./images/reset.png) no-repeat;
    cursor:pointer;
    border:none;
    width:67px;
    height:67px;
}

#reset:focus {outline:0;}

#reset:active {   
    background:url(./images/reset_down.png) no-repeat;
}

